*{
    background: rebeccapurple;
    margin: 5px;
    padding: 5px;
}

h1{
    background: white;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

h3{
    background: blue;
    width: 50%;
    text-align: center;
    font-weight: 9;
   
}