*{
    box-sizing: border-box;
}
.todo{
    background-color: #222;
    margin: 0.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    max-width: 80%;
}

.todo:hover{
    background-color: #111;
}

.todo p{
    opacity: 0.6;
}

.btnPosition{
    display: flex;
    align-items: center;
}

.btn{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;

}

@media screen and (max-width: 992px) {
    .todo {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 768px) {
    .todo {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 600px) {
    .todo {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
